@import "font-awesome/scss/font-awesome";
@import "shadows";
@import "backgrounds";

$borderColor: #af6918;

body{
    //transition: all 0.5s ease;
    background-color: black;
    animation: background_color_change 500ms 16 normal;
}

* {
    padding:0px;
    margin: 0px;
    outline: 0px none;
    /*font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;*/
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;

    &::before, &::after{
        box-sizing: border-box;
    }
}

a{
    color:#5BA0DA;
}

.dark-text{
    color: #404040;
    font-weight: 700;
}
h5, .social-icons{
    border: 0px none;
    font-family: inherit;
    font-size:100%;
    font-style: inherit;
    vertical-align: baseline;
}
h5{
    font-size:20px;
}

.clearfix{
    clear: both;
    margin: 0px;
    height: 0px;
    padding: 0px;
}

.profile{
    position: fixed;
    bottom: 0px;
    width: 100%;
    border-radius: 4px;
    overflow:hidden;


    .center-profile{

        $fromColor: #ffd7a3;
        $toColor: #af6300;

        width: 600px;
        height: 200px;
        display: block;
        margin: 0 auto;
        position: relative;

        border-top-left-radius: 85px;
        border-top-right-radius: 85px;
        border: solid $borderColor 1px;

        @include bgr-color-background($fromColor, $toColor);

        .profile-pic{
            border-radius: 50%;
            width: 174px;
            height: 174px;
            overflow: hidden;
            position: absolute;
            top: 10px;
            left: 10px;

            border:inset #fae6cd 5px;
            border-style: double;

            img{
                width:100%;
                height:100%;
                vertical-align: middle;
                border: 0px none;
            }
        }

        .exp-container{
            position: absolute;
            top: 100px;
            left: 200px;
            background-color: #151622;
            height: 25px;
            width: 340px;

            .label{
                position: absolute;
                padding-top: 4px;
                width: 100%;
                height: 25px;
                top: 0px;
                left: 0px;
                text-align: center;
                z-index: 20;
                color: white;
                letter-spacing: 1.2;
            }
            .exp-bar{
                .bar{
                    position: absolute;
                    z-index: 0;
                    top: 2px;
                    left: 0px;
                    background-color: rgb(9, 38, 189);
                    opacity: 0.5;
                    width: 70%;
                    height: 20px;
                }
            }
        }

        .name{
            display:inline-block;
            position: absolute;
            top:0px;
            left: 200px;
            padding:20px 0px 15px 0px;
            width: 200px;
        }


        .details{
            position: absolute;
            top: 50px;
            left: 200px;
            font-size:13px;
            line-height:20px;

            .position{
                font-size: 16px;
            }
        }



        .social-icons{
            position: absolute;
            bottom: 5px;
            left: 200px;
            width:354px;

            ul{
               list-style: outline none disc;
               padding-left: 0px;
               li{
                   display: inline-block;
                   line-height: 32px;
                   margin: 4px;
                   border: solid #af6918 1px;
                   transition: all 0.5s ease;

                   a{
                       font-size:20px;
                       text-align:center;
                       width: 32px;
                       height: 32px;
                       display:block;
                       border:solid 1px #bd792a;
                       transition: all 0.5s ease;
                       i{
                           color: black;
                       }
                   }

                   &:hover{
                       border-radius: 15px;
                       @include c_box-shadow-grey(4px, 9px, 20px, -15px, 0.75);
                       a{
                           border-radius: 15px;
                           background-color: #EFEFEF;
                       }
                   }
               }
           }
        }
    }

}

.extended-details{
    width:50%;
    margin: 20px auto;
    padding-bottom: 300px;

    ul{
        list-style: outline none disc;
        padding-left: 0px;


        .row{
            display: inline-block;
            line-height: 32px;
            margin: 4px;
            width: 100%;

            transition: all 0.5s ease;
            color: white;

            .skill-name{
                $bgrColor1 : #ffd7a3;
                $bgrColor2 :  #916c3b;
                @include c_box-shadow(4px, 9px, 20px, -15px, rgb(244, 116, 116))

                @include bgr-color-background($bgrColor1, $bgrColor2);

                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
                border: solid $borderColor 1px;
                i{
                    padding: 8px;
                    margin: 8px;
                }

                &:hover{
                    @include bgr-color-background(bgrColor2, $bgrColor1);
                }
            }
            .skill-description{
                border: solid $borderColor 1px;
                padding:8px 30px 10px 30px;
                border-top: 0px;
                background-color: #5c5a58;

            }
        }
    }

}
.system-information{
    text-align: right;
    font-size: 12px;
    color: #af6918;
    position: fixed;
    bottom: 2px;
    right: 2px;
    a{
        font-weight: bold;
        text-decoration: none;
        &:hover{
            text-decoration: underline;
        }
    }
}
